:root{
    --light: #e2e2e2;
    --dark-gray: #383838;
    --darker-gray: #2b2b2b;
    --dark-cyan: #177E89;
    --darker-cyan: #156d77;
    --cell-alive: #349fa3;
    --success: #198754;
    --warning: #ffc107;
    --danger: #dc3545;
}

body{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: var(--darker-gray);
    color: var(--light);
}

#world{
    padding-bottom: 10px;
    -webkit-user-drag: none;
}
table{
    margin: 0px auto;
    border-collapse: collapse;
    background-color: var(--darker-gray);
    -webkit-user-drag: none;
}
td{
    width: 10px;
    height: 10px;
    border: 1px solid var(--dark-gray);
    -webkit-user-drag: none;
}

.hud{
    height: 100px;
    margin-top: 5px;
}

.v-center-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.statistics{
    display: inline-block;
    text-align: left;
    height: 100%;
    width: 20%;
}
.statistics span:not([id]){    /* apply to spans with no id*/
    margin: 5px 0px;
    display: block;
}

.buttons{
    display: block;
    height: 100%;
    margin: 50px;
}

.slider{
    display: inline-block;
    height: 100%;
    width: 15%;
}
.slider span:not([id]){
    margin: 5px 0px;
    display: block;
}

button{
	min-width: 150px;
	font-size: 15px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    color: var(--light);
    background-color: var(--dark-cyan);
}
button:hover{
    background-color: var(--darker-cyan);
    cursor: pointer;
}
button:focus{
	outline: 0;
}
button[disabled=disabled], button:disabled{
	
    background-color: #638488;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 100%;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #c5c3c3
}
.dropdown button:hover{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.alive{
    background-color: var(--cell-alive);
}